*.key
*.enc
*.pem
*.crt
tests/*.wav
*.jpg
*.db
*.bak
*.bak.*
*.pyc
.vscode/*
.dsn/*
logs/*
plans/*
instances/models/*
__pycache__/*
.env
note.txt
/cli/webui/.credentials
/cli/webui/.secret_key
*.flet_credentials
*.flet_secret_key
.vs/*
*/assets/*
*.ttf
/skills/claw_skills/*
/temp/