*.key
*.enc
*.pem
*.crt
*.wav
*.jpg
*.db
*.pyc
.vscode/*
logs/*
plans/*
instances/models/*
__pycache__/*
config.py
.env
note.txt
/cli/webui/.credentials
/cli/webui/.secret_key
*.flet_credentials
*.flet_secret_key
.vs/*
*/assets/*